.hero-title {
  color: #fff;
  text-align: center;
  font-family: "Mate SC";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }
}
.hero-subtitle {
  color: #e4e4e4;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }
}
.section-title {
  color: #901a06;
  font-family: "Mate SC";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }
  span {
    color: #901a06;
    font-family: Mate;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 108%;
    @media screen and (max-width: 1024px) {
      font-size: 32px;
    }
  }
}
.section-subtitle {
  color: #ae9167;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  letter-spacing: 2.21px;
  text-transform: lowercase;
  margin-bottom: 8px;
  @media screen and (max-width: 1024px) {
    font-size: 13px;
  }
}
.title_24 {
  color: #901a06;
  text-align: center;
  font-family: "Mate SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
}
.title_20 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 27px */
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}
.text_18 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}
.text_16 {
  color: #2b2119;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
.results-head {
  .container {
  }
  .top {
    margin-bottom: 32px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 24px;
    }
  }
  .section-subtitle {
  }
  .section-title {
  }
  .text_18 {
  }
}
.results {
  background-color: var(--background);
  .container {
  }
  .results-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    @media screen and (max-width: 1024px) {
      gap: 16px;
    }
  }
  .results-item {
    border: 1px solid #dad3b8;
    background: #fffefb;
    width: calc((100% - 64px) / 3);
    padding: 24px;
    &:last-child {
      width: 100%;
      .num {
        justify-content: center;
        align-items: center;
      }
      .text_20 {
        text-align: center;
      }
      @media screen and (max-width: 768px) {
        .num {
          justify-content: flex-start;
          align-items: flex-start;
        }
        .text_20 {
          text-align: left;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      width: calc((100% - 32px) / 2);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .num {
    color: #901a06;
    text-align: center;
    font-family: "Mate SC";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    display: flex;
    gap: 2px;
    margin-bottom: 12px;
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }
  .count {
  }
  .text_20 {
    color: #2b2119;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}
.expect {
  .container {
    padding: 0;
    max-width: 100%;
    display: flex;
    gap: 32px;
  }
  .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .top {
  }
  .section-subtitle {
  }
  .section-title {
  }
  .text-block {
    ul {
      list-style: disc;
      padding-left: 24px;
      margin: 12px;
    }
  }
  .title_24 {
    text-align: left;
    margin-bottom: 16px;
  }
  .text_16 {
  }
  .right {
    width: 40%;
    background-position: center;
    background-size: cover;
  }
}
