.hero-title {
  color: #fff;
  text-align: center;
  font-family: "Mate SC";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }
}
.hero-subtitle {
  color: #e4e4e4;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }
}
.section-title {
  color: #901a06;
  font-family: "Mate SC";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }
  span {
    color: #901a06;
    font-family: Mate;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 108%;
    @media screen and (max-width: 1024px) {
      font-size: 32px;
    }
  }
}
.section-subtitle {
  color: #ae9167;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  letter-spacing: 2.21px;
  text-transform: lowercase;
  margin-bottom: 8px;
  @media screen and (max-width: 1024px) {
    font-size: 13px;
  }
}
.title_24 {
  color: #901a06;
  text-align: center;
  font-family: "Mate SC";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
}
.title_20 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 27px */
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}
.text_18 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}
.text_16 {
  color: #2b2119;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}
